<!DOCTYPE html>
<html>
<head>
	<title>Debug {{log.context.logId}}</title>
	<link rel="stylesheet" href="{{vendorUrl}}bootstrap-3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="{{vendorUrl}}bootstrap-3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="{{vendorUrl}}font-awesome-4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="{{distUrl}}debug-detail.css" crossorigin="anonymous">
	<link rel="stylesheet" href="{{distUrl}}debug-sidebar.css" crossorigin="anonymous">
</head>
<body>
	{{> detail}}
	{{> sidebar}}
	
	<script type="text/javascript" src="{{vendorUrl}}jquery-3.2.1/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{vendorUrl}}bootstrap-3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}debug-display.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}debug-detail.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}debug-sidebar.js" crossorigin="anonymous"></script>
</body>
</html>
