<!DOCTYPE html>
<html>
<head>
	<title>Debug {{log.context.logId}}</title>
	<link rel="stylesheet" href="{{distUrl}}bootstrap-3.3.7/css/bootstrap.min.css"       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{distUrl}}bootstrap-3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="{{distUrl}}font-awesome-4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{{distUrl}}debug-detail.css" crossorigin="anonymous">
	<link rel="stylesheet" href="{{distUrl}}debug-sidebar.css" crossorigin="anonymous">
</head>
<body>
	{{> detail}}
	{{> sidebar}}
	
	<script type="text/javascript" src="{{distUrl}}jquery-3.2.1/jquery-3.2.1.min.js"    integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}bootstrap-3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}debug-display.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}debug-detail.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{distUrl}}debug-sidebar.js" crossorigin="anonymous"></script>
</body>
</html>
