<div id="sidebar">
	<header class="small text-muted">
		<ul class="list-inline">
			<li>ID {{log.context.logId}}</li>
			<li>{{log.datetime}}</li>
		</ul>
	</header>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{{# parts}}
			<div class="panel panel-{{# hasAlertMetrics}}danger{{/ hasAlertMetrics}}{{^ hasAlertMetrics}}default{{/ hasAlertMetrics}}">
				<div class="panel-heading" role="tab" id="part_{{key}}">
					<h4 class="panel-title">
						<a class="{{# collapse}}collapsed{{/ collapse}}" role="button" data-toggle="collapse" {{# collapse}} data-parent="#accordion"{{/ collapse}} href=".collapse_part_{{key}}" aria-expanded="{{# collapse}}false{{/ collapse}}{{^ collapse}}true{{/ collapse}}" aria-controls="collapse_part_{{key}}">
							{{title}}
						</a>
					</h4>
					<ul class="list-inline small">
						{{# featuredMetrics}}
							{{# alert}}
								<li class="text-danger" title="{{title}}"><strong>{{value}}</strong></li>
							{{/ alert}}
							{{^ alert}}
								<li class="text-muted" title="{{title}}">{{value}}</li>
							{{/ alert}}
						{{/ featuredMetrics}}
					</ul>
				</div>
				<div class="collapse_part_{{key}} panel-collapse collapse {{^ collapse}}in{{/ collapse}}{{# collapse}}{{# hasAlertMetrics}}in{{/ hasAlertMetrics}}{{/ collapse}}" role="tabpanel" aria-labelledby="part_{{key}}">
					<table class="table panel-body">
						{{# metrics}}
							<tr {{# collapse}}{{# hasAlertMetrics}}{{^ alert}}class="collapse collapse_part_{{key}}_metrics"{{/ alert}}{{/ hasAlertMetrics}}{{/ collapse}}>
								<th>{{title}}</th>
								<td>
									{{# detail}}
										<a href="#" data-detail-key="{{key}}">
											{{& value}}
										</a>
									{{/ detail}}
									{{^ detail}}
										{{& value}}
									{{/ detail}}
									{{# alert}}
										<br>
										<span class="text-danger">
											<i class="fa fa-exclamation-triangle"></i>&nbsp;
											<strong>{{alert}}</strong>
										</span>
									{{/ alert}}
								</td>
							</tr>
						{{/ metrics}}
					</table>
					{{# collapse}}
						{{# hasAlertMetrics}}
							<div class="alert-collapse-metrics">
								<a href="#" data-toggle="collapse" data-target=".collapse_part_{{key}}_metrics" aria-expanded="{{# collapse}}false{{/ collapse}}{{^ collapse}}true{{/ collapse}}" aria-controls="collapse_part_{{key}}_metrics">
									<span class="collapse collapse_part_{{key}}_metrics in">Show all</span>
									<span class="collapse collapse_part_{{key}}_metrics">Hide non-alerts</span>
								</a>
							</div>
						{{/ hasAlertMetrics}}
					{{/ collapse}}
				</div>
			</div>
		{{/ parts}}
	</div>
</div>
